---
import { SEO } from "astro-seo";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.scss";

import favicon from "../assets/favicon.ico";
import favicon16 from "../assets/favicon-16.png";
import favicon32 from "../assets/favicon-32.png";
import favicon48 from "../assets/favicon-48.png";
import socialImage from "../assets/social.png";

interface Props {
  title: string;
}

const { title } = Astro.props;
const siteUrl = "https://blankie.rest";
const description = "Ambient sound mixer for macOS.";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; img-src 'self' data: https:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' api.github.com;"
    />

    <link rel="icon" type="image/x-icon" href={favicon} />
    <link rel="icon" type="image/png" sizes="16x16" href={favicon16.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={favicon32.src} />
    <link rel="icon" type="image/png" sizes="48x48" href={favicon48.src} />

    <SEO
      title={`Blankie - ${title}`}
      description={description}
      openGraph={{
        basic: {
          title: `Blankie - ${title}`,
          type: "website",
          image: socialImage.src,
          url: `${siteUrl}${Astro.url.pathname}`,
        },
        image: {
          alt: "Blankie Social Preview",
          width: 1280,
          height: 640,
          type: "image/png",
        },
        optional: {
          siteName: "Blankie",
          locale: "en_US",
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@blankie",
        title: `Blankie - ${title}`,
        description: description,
        image: socialImage.src,
      }}
    />
  </head>
  <body class="bg-skin-fill text-skin-base overflow-x-hidden">
    <Nav />
    <slot />
    <Footer />
    <script src="../scripts/nav.ts"></script>
  </body>
</html>
